[Unit]
Description=Lao Rice API
After=network-online.target docker.service
Wants=network-online.target
Requires=docker.service

[Service]
Type=simple
WorkingDirectory=/opt/lao-rice-api
EnvironmentFile=/opt/lao-rice-api/.env
ExecStart=/opt/lao-rice-api/bin/lao-rice-api
Restart=always
RestartSec=5
StartLimitIntervalSec=0

[Install]
WantedBy=multi-user.target
